<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application>

    <activity
      android:name="expo.modules.kmcertonative.KmCertoPermissionActivity"
      android:exported="false"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <service
      android:name="expo.modules.kmcertonative.KmCertoOverlayService"
      android:exported="false"
      android:foregroundServiceType="specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="overlay" />
    </service>

    <service
      android:name="expo.modules.kmcertonative.KmCertoFloatingBubbleService"
      android:exported="false"
      android:foregroundServiceType="specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="floating_indicator" />
    </service>

    <service
      android:name="expo.modules.kmcertonative.KmCertoAccessibilityService"
      android:exported="true"
      android:label="KmCerto"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
      android:foregroundServiceType="specialUse">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/kmcerto_accessibility_service_config" />
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="accessibility_monitoring" />
    </service>

  </application>

</manifest>
